{
    "serverBaseUrl": "https://cytu.be",
    "username": "",
    "password": "",
    "room": "",
    "roompassword": "",
    "enableLogging": true,
    "inactivityTimeoutMinutes": 10,
    "minUserRankForPrivilegedCommands": 2
}